body.dunkelmodus {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.5s, color 0.5s;
    padding: 15px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}

body.dunkelmodus a {
    color: #bb86fc;
}

body.dunkelmodus a:hover {
    color: #ffffff;
}