body.dunkelmodus {
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}